$media-desktop: "only screen and (min-width : 600px)";
// $media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
// $media-mobile-sm: "only screen and (max-width : 480px)";

$bg-primary:#163a5f;
$bg-secondary:hsla(0, 0%, 0%, 0.3);
$bg-tertiary:#163b5f80;

$text-primary:#ffffff;
$text-secondary:#ffffffbf;
$text-tertiary:#ffffff80;

@media #{$media-desktop}{
    .m-nav-menu{
        display: none;
    }
    .nav-list{
        float: right;
        a{
            margin: 1rem 1rem;
            text-decoration: none;
            color: $text-primary;
            font-size: 1.5rem;
        }
    }
}

@media #{$media-mobile} {
  .nav-list{
      display: none;
  }
  .m-nav-menu{
      float: right;
      display: block;
      margin-right: 1rem;
  }
  .menu{
      width: 100%;
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      top: 5rem;
      left: 0;
  }
  .m-nav-item{
      text-decoration: none;
      color: $text-primary;
      text-align: center;
      margin: 0 1rem;
      padding-top: 10px;
      background-color: $bg-tertiary;
      font-size: 1.5rem;
      border-bottom: 0.5px solid gray;
  }
}

