$bg-primary:#163a5f;
$bg-secondary:hsla(0, 0%, 0%, 0.3);
$bg-tertiary:#163b5f80;

$text-primary:#ffffff;
$text-secondary:#ffffffbf;
$text-tertiary:#ffffff80;

$warning:#f17917;
$success:#4ccc4c;


$media-mobile: "only screen and (max-width : 800px)";
$media-mobile-sm: "only screen and (max-width : 600px)";

table,.div-btn{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    
    thead{
        background-color: $bg-secondary;
        display: flex;
        flex-direction: row;
        border-radius: 5px 5px 0 0;

        th{
            flex: 1;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
    tbody{
        display: flex;
        flex-direction: column;

        tr{
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 0.5px solid gray;

            td{
                margin: 5px auto;
                flex: 1;
                text-align: center;
                margin-bottom: -5px;
            }
            input{
                width: 70px;
                padding: 6px 7px;
                margin-top: -15px;
                outline: none;
                border-radius: 10px;
                border: none;
                background-color: $bg-secondary;
                color:$text-primary;
                font-weight: bolder;
                font-size: large;
                text-align: center;
            }
            button{
                background-color: transparent;
                border: none;
                color: $warning;
                font-weight: bold;
            }
            button:hover{
                color: $text-secondary;
            }
        }
    }
}

.checkout{
    width: fit-content;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0.25px solid $bg-secondary;
    background-color: rgb(28, 66, 2);
    color: $text-primary;
    font-size: large;
}

.checkout:hover{
    background-color: $success;
}

.back-btn{
    position: fixed;
    top: 2rem;
    left: 1rem;
}

@media #{$media-mobile}{
    table,.div-btn{
        width: 100%;
    }
}

@media #{$media-mobile-sm}{
    table,.div_btn{
        width: 100%;
    }
}