$bg-primary:#163a5f;
$bg-secondary:rgba(22, 59, 95, 0.75);
$bg-tertiary:rgba(22, 59, 95, 0.5);

$text-primary:white;
$text-secondary:rgba(255, 255, 255, 0.75);
$text-tertiary:rgba(255, 255, 255, 0.5);

.welcome{
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 2rem;
    z-index: 10;

    h2,h3{
        width: 100%;
        text-align: center;
    }
    a{
        color: white;
        text-decoration: none;
        box-shadow: 2px 3px 4px $text-secondary;
        padding: 0 1.5rem;
    }
    a:hover{
        box-shadow: none; 
    }
}

.section-list{
    margin-left: 1.5rem;
}
