$bg-primary:#163a5f;
$bg-secondary:hsla(0, 0%, 0%, 0.3);
$bg-tertiary:#163b5f80;

$text-primary:#ffffff;
$text-secondary:#ffffffbf;
$text-tertiary:#ffffff80;

$success:#196819;
$warning:#f17917;

$media-desktop: "only screen and (min-width : 1024px)";
$media-tablet: "only screen and (min-width : 768px)";
$media-mobile: "only screen and (min-width : 600px)";
$media-mobile-sm: "only screen and (min-width : 480px)";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media #{$media-desktop}{
  body{
    font-size: 2.5rem;
  }
}
@media #{$media-tablet}{
  body{
    font-size: 2.25rem;
  }
}
@media #{$media-mobile}{
  body{
    font-size: 2rem;
  }
}
@media #{$media-mobile-sm}{
  body{
    font-size: 1.75rem;
  }
}

body{
  background-color:$bg-primary ;
  color: white;
}
#root{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.main{
  margin-top: 3rem;
}

.nav{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2.5rem;
}
.section{
  width: 100%;
  margin: 1rem 0;
  background-color: $bg-secondary;
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  color:$text-secondary;
  display: flex;
  flex-direction: column;
}

h3{
  width: 100%;
  text-align: center;
  color: $text-primary;
}

a{
  position: relative;
}

.nav-icon{
  margin-bottom:-3px;
}
.nav-tooltip{
  position: absolute;
  top: -1rem;
}

.success{
  color:$success;
  font-size:20px;
  width: 100%;
  text-align: center;
}
.warning{
  color:$warning;
  font-size:20px;
  width: 100%;
  text-align: center;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}